
<div class="row">
  <div class="col-sm-12" style="background-color: #8e2222; color: #ffffff">
    <div class="user-analytics">
      <h2>User Analytics</h2>
      <ul>
        <li><%= User.how_many%></li>
        <li><%= User.most_reviews%></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="user-analytics">

  </div>
</div>
